{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PERC | Summary Report{% endblock %}

{% block page_content %}

    {% if current_user.is_authenticated %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 bg-info">
     <h1>Report Criteria</h1>
    <p>You are logged in as <b>{{ current_user.login_name }}</b>.</p>
        <p>Location: {{ loc_name }}</p>
        <p>Start Date: {{ start_date }}</p>
        <p>End Date: {{ end_date }}</p>
        <p>Temperature: {{ temperature }}</p>
        <p>Temperature Tolerance: {{ temp_tol }}</p>
        <p>Humidity: {{ humidity }}</p>
        <p>Humidity Tolerance: {{ humid_tol }}</p>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-6">
      <h1>Report Details</h1>
        <table class="table table-hover table-condensed table-striped table-bordered">
          {% for key, value in report_data.items() %}
            <tr>
              <th> {{ key }} </th>
              <td> {{ value[0] }} </td>
            </tr>
          {% endfor %}
        </table>
        <p>Report generated {{ moment(current_time).fromNow(refresh=True) }}.
    </div>
  </div>
</div>
    {% else %}
    <h1>Protected page</h1>
    <p>This page can only be viewed by logged in users.</p>
    <p> You are not currently logged in.</p>
    <p>Local date and time: {{ moment(current_time).format('LLL') }}.</p>
    {% endif %}


{% endblock %}